---
# configure deployment by AppVeyor.com

version: 16.3.0

image: Visual Studio 2019

skip_non_tags: true

build_script:
  - cmd: gradlew.bat build --console=plain --no-daemon

artifacts:
  - path: dist/Libbulletjme-16.3.0.jar
    name: classJar
  - path: dist/Libbulletjme-16.3.0-javadoc.jar
    name: javadocJar
  - path: dist/Libbulletjme-16.3.0-sources.jar
    name: sourcesJar
  - path: dist/Libbulletjme-16.3.0.pom
    name: pom
  - path: dist/Libbulletjme-16.3.0.module
    name: module
  - path: dist/Windows32DebugDp_bulletjme.dll
    name: dll32DD
  - path: dist/Windows32DebugSp_bulletjme.dll
    name: dll32DS
  - path: dist/Windows32ReleaseDp_bulletjme.dll
    name: dll32RD
  - path: dist/Windows32ReleaseSp_bulletjme.dll
    name: dll32RS
  - path: dist/Windows64DebugDp_bulletjme.dll
    name: dll64DD
  - path: dist/Windows64DebugDpMt_bulletjme.dll
    name: dll64DDM
  - path: dist/Windows64DebugSp_bulletjme.dll
    name: dll64DS
  - path: dist/Windows64DebugSpMt_bulletjme.dll
    name: dll64DSM
  - path: dist/Windows64ReleaseDp_bulletjme.dll
    name: dll64RD
  - path: dist/Windows64ReleaseDpMt_bulletjme.dll
    name: dll64RDM
  - path: dist/Windows64ReleaseSp_bulletjme.dll
    name: dll64RS
  - path: dist/Windows64ReleaseSpMt_bulletjme.dll
    name: dll64RSM
  - path: dist/Windows32DebugDp_bulletjme.pdb
    name: pdb32DD
  - path: dist/Windows32DebugSp_bulletjme.pdb
    name: pdb32DS
  - path: dist/Windows64DebugDp_bulletjme.pdb
    name: pdb64DD
  - path: dist/Windows64DebugDpMt_bulletjme.pdb
    name: pdb64DDM
  - path: dist/Windows64DebugSp_bulletjme.pdb
    name: pdb64DS
  - path: dist/Windows64DebugSpMt_bulletjme.pdb
    name: pdb64DSM

deploy:
  description: release description goes here
  artifact: classJar,javadocJar,sourcesJar,pom,module,dll32DD,dll32DS,dll32RD,dll32RS,dll64DD,dll64DDM,dll64DS,dll64DSM,dll64RD,dll64RDM,dll64RS,dll64RSM,pdb32DD,pdb32DS,pdb64DD,pdb64DDM,pdb64DS,pdb64DSM
  provider: GitHub
  auth_token:
    secure: eZRWYh0JXuVJLfWsYH3El7D4zU9HK/pxGwv6VJgGxQjxJ0NlT0wjnBMz/VTL50Vd
  force_update: true               # overwrite existing release if present
  on:
    appveyor_repo_tag: true        # deploy on tag push only
