---
# GitHub Actions workflow for commits pushed to the Libbulletjme repo - all branches

name: CI at GitHub
on: [push]

jobs:
  Java8-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 8
      - uses: actions/checkout@v4
      - run: ./gradlew run build --console=plain --no-daemon -Pflavor=Dp -Pgithub=debug64
      - if: failure()
        run: cat build/reports/tests/test/classes/TestLibbulletjme.html

  Java11-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v4
      - uses: mattsb42/not-grep@master
        with:
          config-file: .github/not-grep.toml
      - run: ./gradlew run build --console=plain --no-daemon -Pflavor=Sp -Pgithub=debug64
      - if: failure()
        run: cat build/reports/tests/test/classes/TestLibbulletjme.html

  Java11-MacOS:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: macOS-13
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
      - uses: actions/checkout@v4
      - run: ./gradlew run build --console=plain -Pflavor=Dp -Pgithub=debug64
      - run: ./gradlew run cleanTest build --console=plain -Pflavor=Sp -Pgithub=debug64
      - if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: crash-log
          path: '*.log'

  Java11-Windows:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: windows-2019
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
      - uses: actions/checkout@v4
      - run: ./gradlew run build --console=plain --no-daemon -Pflavor=Sp -Pgithub=debug64
        shell: bash
      - if: failure()
        run: cat build/reports/tests/test/classes/TestLibbulletjme.html

  Java17-MacOS:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: macOS-14
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/checkout@v4
      - run: ./gradlew run build --console=plain -Pflavor=Dp -Pgithub=debug64arm
      - run: ./gradlew run cleanTest build --console=plain -Pflavor=Sp -Pgithub=debug64arm
      - if: failure()
        run: cat build/reports/tests/test/classes/TestLibbulletjme.html

  Java21-Windows:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: windows-2022
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v4
      - run: ./gradlew run build --console=plain --no-daemon -Pflavor=Dp -Pgithub=debug64
        shell: bash
      - if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: crash-log
          path: '*.log'

  Java22-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 22
      - uses: actions/checkout@v4
      - run: ./gradlew run build --console=plain --no-daemon -Pflavor=Dp -Pgithub=debug64
      - if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: crash-log
          path: '*.log'
